@use '../../styles/colors';

.profile {
    position: relative;
    width: 100%;

    img {
        bottom: 0;
        left: 0;
        position: absolute;
        width: 100%;

        &:nth-child(1) {
            clip-path: circle(47.1% at 50% 55%);
        }

        &:nth-child(2) {
            clip-path: polygon(0% 0%, 0 41%, 100% 41%, 100% 0%);
        }
    }

    &::before {
        aspect-ratio: 1/1;
        background-color: colors.$teal;
        border-radius: 50%;
        bottom: 0;
        content: '';
        left: 0;
        position: absolute;
        width: 100%;
    }
}
