@use './colors';

.rc-tooltip {
    background-color: lighten(desaturate(colors.$teal, 10%), 30%);
    border-radius: 0.3rem;
    max-width: 25rem;
    opacity: 1;

    &-inner {
        background: transparent;
        border: none;
        color: colors.$teal;
        font-size: 1.6rem;
        font-weight: 500;
        padding: 1rem 1.6rem;
    }
}

.rc-tooltip-placement-bottom .rc-tooltip-arrow,
.rc-tooltip-placement-bottomLeft .rc-tooltip-arrow,
.rc-tooltip-placement-bottomRight .rc-tooltip-arrow {
    border-bottom-color: lighten(desaturate(colors.$teal, 10%), 30%);
}
