@use '../../styles/colors';

.header {
  &-title {
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    max-width: 40rem;

    span {
      color: colors.$secondary;
    }
  }

  &-detail {
    font-size: 1.8rem;
    margin-top: 0;
  }
}
