@use './styles/colors';
@use './styles/mixins';

@import url('./styles/_fonts.scss');
@import url('./styles/_buttons.scss');
@import url('./styles/_rc.scss');

html {
  background-color: rgba(colors.$teal, 10%);
  font-size: 62.5%;
}

*::selection {
  background-color: colors.$teal;
  color: colors.$white;
}

body {
  @include mixins.scrollbar;

  background-color: colors.$white;
  color: colors.$primary;
  font-family:
    Outfit,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  
  a {
    color: inherit;
    text-decoration: none;
  }

  &.frozen {
    overflow: hidden;
  }
}

.attribution {
  @include mixins.section;

  color: colors.$teal;
  font-size: 1.4rem;
}
