@use './styles/colors';

@import './styles/fonts';
@import './styles/buttons';
@import './styles/rc';

html {
    background-color: colors.$primary;
    font-size: 62.5%;
}

*::selection {
    background-color: colors.$teal;
    color: colors.$white;
}

body {
    background-color: colors.$white;
    color: colors.$primary;
    font-family:
        Outfit,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Fira Sans',
        'Droid Sans',
        'Helvetica Neue',
        sans-serif;
    font-size: 1.6rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;

    a {
        color: inherit;
        text-decoration: none;
    }
}
